In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data=pd.read_csv('Carprises.csv')
data.head()

   Mileage  Age  Sell Price
0    69000    6       18000
1    35000    3       34000
2    57000    5       26100
3    22500    2       40000
4    46000    4       31500

In [3]:
data.describe()

            Mileage        Age    Sell Price
count     20.000000  20.000000     20.000000
mean   59736.500000   5.150000  25197.500000
std    20595.441825   1.785173   7834.479713
min    22500.000000   2.000000  12000.000000
25%    50500.000000   4.000000  19375.000000
50%    59000.000000   5.000000  26050.000000
75%    73750.000000   6.250000  31625.000000
max    91000.000000   8.000000  40000.000000

In [4]:
x=data.drop('Sell Price', axis=1)
y=data['Sell Price']

In [6]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [8]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)
print(model.score(x_train,y_train))
print(model.score(x_test,y_test))

0.9088003005814106
0.9567452747075111